In [1]:
import pandas as pd

In [6]:
import sklearn

In [7]:
from sklearn.feature_extraction.text import CountVectorizer

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
from sklearn.model_selection import train_test_split

In [2]:
data_frame_original = pd.read_csv("./imdb-reviews-pt-br.csv")
data_frame_original.head()

,id,text_en,text_pt,sentiment
0,1,Once again Mr. Costner has dragged out a movie...,"Mais uma vez, o Sr. Costner arrumou um filme p...",neg
1,2,This is an example of why the majority of acti...,Este é um exemplo do motivo pelo qual a maiori...,neg
2,3,"First of all I hate those moronic rappers, who...","Primeiro de tudo eu odeio esses raps imbecis, ...",neg
3,4,Not even the Beatles could write songs everyon...,Nem mesmo os Beatles puderam escrever músicas ...,neg
4,5,Brass pictures movies is not a fitting word fo...,Filmes de fotos de latão não é uma palavra apr...,neg

In [4]:
data_frame_original['classificacao'] = data_frame_original['sentiment'].replace(['neg', 'pos'], [0, 1])

In [5]:
data_frame_original

,id,text_en,text_pt,sentiment,classificacao
0,1,Once again Mr. Costner has dragged out a movie...,"Mais uma vez, o Sr. Costner arrumou um filme p...",neg,0
1,2,This is an example of why the majority of acti...,Este é um exemplo do motivo pelo qual a maiori...,neg,0
2,3,"First of all I hate those moronic rappers, who...","Primeiro de tudo eu odeio esses raps imbecis, ...",neg,0
3,4,Not even the Beatles could write songs everyon...,Nem mesmo os Beatles puderam escrever músicas ...,neg,0
4,5,Brass pictures movies is not a fitting word fo...,Filmes de fotos de latão não é uma palavra apr...,neg,0
...,...,...,...,...,...
49454,49456,"Seeing as the vote average was pretty low, and...","Como a média de votos era muito baixa, e o fat...",pos,1
49455,49457,"The plot had some wretched, unbelievable twist...",O enredo teve algumas reviravoltas infelizes e...,pos,1
49456,49458,I am amazed at how this movieand most others h...,Estou espantado com a forma como este filme e ...,pos,1
49457,49459,A Christmas Together actually came before my t...,A Christmas Together realmente veio antes do m...,pos,1
49458,49460,Working-class romantic drama from director Mar...,O drama romântico da classe trabalhadora do di...,pos,1

In [10]:
vetorizador = CountVectorizer()

In [20]:
bag_of_word = vetorizador.fit_transform(data_frame_original['text_pt'])

In [21]:
bag_of_word.shape

(49459, 129621)

In [23]:
len(vetorizador.get_feature_names_out())

129621

In [24]:
one_hot = pd.DataFrame.sparse.from_spmatrix(bag_of_word, columns=vetorizador.get_feature_names_out())

In [25]:
one_hot

,00,000,0000000000001,0000001,00001,00015,000dm,000wtf,001,003830,...,útero,útil,über,übermensch,übermenschlich,überwoman,četvorka,œaberrações,ʻo,ʻos
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49454,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49455,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49456,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49457,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49458,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
x_train = one_hot[0:37093]
y_train = data_frame_original['classificacao'][0:37093]

In [29]:
x_test = one_hot[37093:]
y_test = data_frame_original['classificacao'][37093:]

37093    0
37094    0
37095    0
37096    0
37097    0
        ..
49454    1
49455    1
49456    1
49457    1
49458    1
Name: classificacao, Length: 12366, dtype: int64